.container {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  /* height: 100vh; */
  margin: 0% 8%;
  padding: 0%;
}

header {
  background-color: #ff6600;
  display: inline-flex;
  align-items: space-between;
  padding: 0px;
  height: 1.5rem;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #FFF;
  padding: 0.25%;
  margin: 3%;
  font-size: 0.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hacker-news {
  width: 15rem;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

.header-left ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 30rem;
}

.header-left h1 {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-left ul a {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50rem;
  list-style: none;
  text-decoration: none;
}

.header-right a {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f6f6ef;
}

main a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

main li {
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px;
}

.upperPara {
  font-size: 0.85rem;
}

.lowerPara {
  color: grey;
  font-size: 0.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.urlBrackets {
  color: grey;
  font-size: 0.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: center;
  justify-content: flex-start;
  border-style: solid;
  border-top-color: #ff6600;
  border-left-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  background-color: #f6f6ef;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-links ul a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0 5%;
  width: 3rem;
}

.search-bar {
  display: flex;
  justify-content: center;
}
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20%;
  margin-left: 35%;
}

.pagination {
  margin-left: 2%;
  margin-bottom: 0.5%;
}

.pagination button {
  cursor: pointer;
  margin: 0.5%;
  padding: 0.25% 0.5%;
  background-color: white;
  border: 1px solid #ff6600;
}

.pagination button:hover {
  background-color: lightgray;
}

.pagination button.active {
  background-color: #ff6600;
  color: white;
}
