.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  /* height: 100vh; */
  margin: 0% 8%;
  padding: 0%;
}

header {
  background-color: #ff6600;
  display: inline-flex;
  align-items: space-between;
  padding: 0px;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  color: #fff;
  border-style: solid;
  border-color: #fff;
  padding: 0.5%;
  margin: 3%;
  font-size: 0.5rem;
}

.hacker-news {
  width: 15rem;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

.header-left ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 30rem;
}

.header-left h1 {
  padding: 0px;
  margin: 0px;
}

.header-left ul a {
  text-decoration: none;
  color: black;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50rem;
  list-style: none;
  text-decoration: none;
}

.header-right a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f6f6ef;
}

main a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: center;
  justify-content: flex-start;
  border-style: solid;
  border-top-color: #ff6600;
  border-left-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  background-color: #f6f6ef;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-links ul a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0 5%;
  width: 3rem;
}

.search-bar {
}
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20%;
  margin-left: 35%;
}
